@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scroll-container {
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -moz-scroll-snap-type: y mandatory; /* Firefox */
    scrollbar-width: none;
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
  }

  .max-width {
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    scroll-snap-align: start;
    -moz-scroll-snap-align: start; /* Firefox */
    height: 100vh;
  }
}

body {
  scroll-snap-type: y mandatory; /* Optional for smoother snapping */
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Arenq';
  src: url('/src/fonts/arenq.otf2') format('otf2'),
       url('/src/fonts/arenq.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beckman';
  src: url('/src/fonts/beckman.otf2') format('otf2'),
       url('/src/fonts/beckman.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mova';
  src: url('/src/fonts/mova.otf2') format('otf2'),
       url('/src/fonts/mova.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overcame Bold';
  src: url('/src/fonts/overcame-bold.woff2') format('woff2'),
       url('/src/fonts/overcame-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overcame Outline';
  src: url('/src/fonts/mova.otf2') format('woff2'),
       url('/src/fonts/mova.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}
